<%= form_with model: @promotion, local:true do |f| %>
  <div>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :prefix, 'Prefixo' %>
    <%= f.text_field :prefix %>
  </div>

  <div>
    <%= f.label :discount_percentage, 'Porcentagem de desconto' %>
    <%= f.text_field :discount_percentage %>
  </div>

  <div>
    <%= f.label :max_discount_value, 'Valor máximo de desconto' %>
    <%= f.text_field :max_discount_value %>
  </div>

  <div>
    <%= f.label :start_date, 'Data de início' %>
    <%= f.date_field :start_date %>
  </div>

  <div>
    <%= f.label :end_date, 'Data de fim' %>
    <%= f.date_field :end_date %>
  </div>

  <div>
    <%= f.label :max_usage, 'Uso máximo' %>
    <%= f.number_field :max_usage %>
  </div>

  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>