<h1 class="ls-title-intro ls-ico-bullhorn">
  Promoções
  <%= link_to 'Registrar promoção', new_promotion_path, class: 'ls-btn-primary ls-ico-plus' %>
  <%= link_to 'Promoções aprovadas', record_approvals_path, class: 'ls-btn-primary ls-ico-cog' %>
</h1>


<% if @promotions.any? %>
<table class="ls-table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Prefixo</th>
      <th>Desconto</th>
      <th>Uso máximo</th>
    </tr>
  </thead>
  <tbody>
  <% @promotions.each do |promotion| %>
    <tr>
      <td><%= link_to promotion.description, promotion_path(promotion) %></td>
      <td><%= promotion.prefix %></td>
      <td><%= number_to_percentage(promotion.discount_percentage, precision: 1) %></td>
      <td><%= promotion.max_usage %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
  <p>Nenhuma promoção registrada</p>
<% end %>