
<h1 class="ls-title-intro ls-ico-dashboard">
  Promoção
</h1>

<div>
  <p><strong>Descrição:</strong></p>
  <p><%= @promotion.description %></p>
</div>

<div>
  <p><strong>Prefixo:</strong></p>
  <p><%= @promotion.prefix %></p>
</div>

<div>
  <p><strong>Porcentagem de desconto:</strong></p>
  <p><%= @promotion.discount_percentage %>%</p>
</div>

<div>
  <p><strong>Valor máximo de desconto:</strong></p>
  <p><%= @promotion.max_discount_value %></p>
</div>

<div>
  <p><strong>Data de início:</strong></p>
  <p><%= @promotion.start_date.strftime('%d/%m/%Y') %></p>
</div>

<div>
  <p><strong>Data de fim:</strong></p>
  <p><%= @promotion.end_date.strftime('%d/%m/%Y') %></p>
</div>

<div>
  <p><strong>Uso máximo:</strong></p>
  <p><%= @promotion.max_usage %></p>
</div>

<%= link_to 'Editar', edit_promotion_path(@promotion) %>

<% if @promotion.approved? %>
  <%= link_to 'Emitir cupons', promotion_coupons_path(@promotion), method: :post if @promotion.approved? %>
<% elsif @promotion.issued? %>
  <% @coupons.each do |coupon| %>
    <%= link_to coupon.code, promotion_coupon_path(coupon.id)  %>
  <% end %>
<% else %>
  <p> Promoção aguardando aprovação  </p>
<% end %>

